@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.site-content {
    background-image: linear-gradient(rgba(75, 100, 157, 0.64), rgba(106, 167, 223, 0.64)), url(/img/wallpaper/wallpaper4.jpg);
    background-attachment: fixed;
    height:80vh;
    background-size: cover;
}

.site-title {
    color: #fff;
    margin-top: 30%;
    margin-bottom: 6%;
    font-size: 50px;

}

/* SECTION 1 */ 

.section-1 .heading-1 {
    margin-top: 8%
}

.section-1 .heading-2 {
    margin-bottom:5%;
    font-size:29px;
}

.section-1 .para-1 {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.section-1 .card-text, para-1 {
    color: rgba(0,0,0,0.59);
}

.section-1 {
    margin-bottom: 8%;
}


    .footerlinks {
        color: #ffffff;
        text-decoration: none !important;
    }

        .footerlinks:hover {
            color: #16c2c4;
        }

.navlinks:hover {
    color: #16c2c4;
}

#footer1 {
    background: #16c2c4;
}

#footer2 {
    background: #16c2c4;
}





